/* Stylesheet */

/*Colors
http://www.colourlovers.com/palette/629120/Fiber_Optic_Angel
http://www.colourlovers.com/palette/1951209/air_and_angel
*/
/*===================================
			Big Elements
===================================*/

body {
	background: url('../img/subtle.png');	
}

header,
footer {
	background-color: #50596c;
	padding: 0 .25em 0 .25em; /*0 20px 0 30px*/
	margin: .05208333% 0 0 0; /*50px 0 0 0*/
	border-radius: 1.5em;
	position: relative;	
}

article {
	font-size: 100%;
	margin-top: .10416667%; /*100px*/
	border-radius: .01041667%;
}


article::after {
content : ".";
  display : block;
  height : 0;
  clear : both;
  visibility : hidden;	
}

article a {
color: #608e93;
text-decoration: none;	
}

footer {
color: white;
padding: .3em;
clear: both;	
}

nav a:link,
nav a:visited {
	text-align: center;
	padding: .25em;
	
	/*CSS3*/
	transition: all .5s;
}

nav a:hover,
nav a:active {
	color: #fff;
	background-color: #7b8498;
	border-radius: ..125em; 
}

nav a:nth-child(1) {
	padding-left: .25em;	
}

/*===========================
		Layout and Structure
=============================*/

.container {
	margin: 0 auto;
        width: 90%; /*960px*/	
}


/*===========================
		Fonts
===========================*/
/*Head*/
@font-face {
    font-family: 'kingthings_calligraphica_2Rg';
    src: url('../fonts/Kingthings_Calligraphica_2-webfont.eot');
    src: url('../fonts/Kingthings_Calligraphica_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kingthings_Calligraphica_2-webfont.woff') format('woff'),
         url('../fonts/Kingthings_Calligraphica_2-webfont.ttf') format('truetype'),
         url('../fonts/Kingthings_Calligraphica_2-webfont.svg#kingthings_calligraphica_2Rg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Subhead*/
@font-face {
    font-family: 'gartonmedium';
    src: url('../fonts/garto16-webfont.eot');
    src: url('../fonts/garto16-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/garto16-webfont.woff') format('woff'),
         url('../fonts/garto16-webfont.ttf') format('truetype'),
         url('../fonts/garto16-webfont.svg#gartonmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Graph*/
@font-face {
    font-family: 'chantelli_antiquaregular';
    src: url('../fonts/Chantelli_Antiqua-webfont.eot');
    src: url('../fonts/Chantelli_Antiqua-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chantelli_Antiqua-webfont.woff') format('woff'),
         url('../fonts/Chantelli_Antiqua-webfont.ttf') format('truetype'),
         url('../fonts/Chantelli_Antiqua-webfont.svg#chantelli_antiquaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*------headings-------*/

h1 {
font-family: 'kingthings_calligraphica_2Rg', serif; 
color : #c0d8d8;
font-size : 4em;
text-align: center;
padding-top: .125em; /*10px*/	
}

h2,
h3 {
	font-family: 'gartonmedium', cursive;	
}

h2 {
font-size : 3em;
border-bottom: #f8d9a0 dotted .2em;
width: 100%; 

}

h3 {
	font-size : 1.5em;
	background: #50596c;
	color: #c0d8d8;
	padding: .01041667%;
	border-radius: .00520833%; /*5px*/
	width: 50%;
}

.hleft {
	text-align: right;	
}

/*Graph*/

p,
a {
	font-family: 'chantelli_antiquaregular', sans-serif;
	font-size: .75em;	
}

.pleft {
	width: 60%;	
}

.pright {
	float: right;
	width: 55%;	
}





/*---elements-----*/

a {
  text-decoration:none;
  color : #fff;
  transition: color .5s;
}

a:hover {
	color: #c0d8d8;	
}

ul {
  list-style : none;
  size : 4.375em; /*70px*/
  padding : .01041667%; /*10px*/
  margin : .01041667%; /*10px*/
}

li {
  display : inline;
  padding : 0 40px; /*40px*/
}

/*----------images----------------*/

.big {
	float: right; 	
}

.tweet {
	float: left;
}


/*===================
	Plot
===================*/


.plot {
	margin-bottom: .13020833%; /*-125px*/	
}

/*------Gallery-----*/
.gallery .control-button {
  color: #00ccff;
  color: rgba(0, 204, 255, 0.4);
}

.gallery .control-button:hover {
  color: #00ccff;
  color: rgba(0, 204, 255, 1);
}


	/*Theme controls how everything looks in Gallery CSS.*/


.gallery {
  position: relative;
  margin: .1041667% 0; /*100px*/
  height: 1000%; /*1000px*/
}


.gallery h1 a:hover {
	color: #c0d8d8;	
}


.gallery .item {
  overflow: hidden;
  padding: .02083333%; /*20px*/
}


.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}



.gallery .control-button {
  display: inline-block;
  margin: .25em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color .1s;
  -o-transition: color .1s;
  transition: color .1s;
}





/*=====================
	Media Queries
======================*/

/*----Small----*/

@media screen and (max-width: 1024px) {
  
  
  .gallery,
	.plot {
	visibility: hidden;
	height: 0;	
	}
	
	nav a {
		margin: .625%;	
	}
	
	nav a:nth-child(1) {
		margin-left: .625%	
	}
	
}


/*-----smaller----*/
@media screen and (max-width: 480px) {
	
	
	
	nav a {
		display: block;
		font-size: 1.5em;	
	}
	
	h1,
	h2 {
		font-size: 4.5em;
	}
	
	article {
		margin: none;	
	}
	
	img {
	visibility: hidden;	
	}
	
	p,
	.pleft,
	.pright,
	h2,
	h3 {
	width: 100%;	
	}

	.hleft {
	text-align: left;	
	}
	
	.gallery,
	.plot {
	visibility: hidden;
	height: 0;	
	}
	
}